.footer__link-list{
    list-style-type: none;
    margin:auto;
    padding:0;
    display:flex;
    flex-direction: row;
    text-decoration: none;
    flex-wrap: wrap;
}

.footer__link-list:last-child{
    margin-right:0;
}

@media screen and (max-width:560px){
    .footer__link-list{
        margin:0;
        flex-direction: column;
    }
}