.place__image{
    max-width: 460px;
    width: 100%;
}

@media screen and (max-width:1152px){
    .place__image{
        max-width: 450px;
    }
}

@media screen and (max-width:1024px){
    .place__image{
        max-width: 440px;
    }
}

@media screen and (max-width:910px){
    .place__image{
        max-width: 370px;
    }
}

@media screen and (max-width:810px){
    .place__image{
        max-width: 360px;
    }
}

@media screen and (max-width:780px){
    .place__image{
        max-width: 340px;
    }
}

@media screen and (max-width:692px){
    .place__image{
        max-width: 270px;
    }
}

@media screen and (max-width:650px){
    .place__image{
        max-width: 230px;
    }
}

@media screen and (max-width:600px){
    .place__image{
        max-width: 220px;
    }
}

@media screen and (max-width:520px){
    .place__image{
        max-width: 160px;
    }
}

@media screen and (max-width:464px){
    .place__image{
        max-width: 320px;
    }
}