.footer{
    display:flex;
    max-width: 1184px;
    margin:92px auto 24px auto;
    justify-content: space-between;
    color:white;
}

@media screen and (max-width:1024px){
    .footer{
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width:768px){
    .footer{
        margin-top:88px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width:320px){
    .footer{
        margin-top: 64px;
        flex-direction: column;
    }
}